/* Caja del encabezado */
.header-box {
    background-color: #ffece7; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Texto del título */
.header-box h2 {
    color: #333;
    font-size: 35px;
}

/* Texto del párrafo */
.header-box p {
    color: #666;
}

/* Imagen dentro del header */
.header-box img {
    width: 170px;
}

/* Fondo de la sección de búsqueda */
.search-section {
    background-color: #fff8e1; 
}

.product-card:hover {
    transform: translateY(-5px);
}
.product-card .card-text:last-child {
  transition: transform 0.2s;
}

.product-card{
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  view-transition-class: producto-cesta;
}

/* Animacion para le producto que se elimina de la cesta. Estos atributos sobrescriben los de abajo */
::view-transition-old(para-eliminar-cesta) {
  animation-name: fade-up;
}

/* Propiedades para *todos* los elementos de la cesta (incluido e eliminado) */
::view-transition-group(.producto-cesta){
  animation-duration: 500ms;
}

.textoCarrito{
  color: #dd4c3c;
}

.loading{
  width: 130px;
}

@keyframes fade-up {
  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}