.login-container {
    background-color: #b73737; /* rojo oscuro de fondo */
  }
  
  .login-card {
    width: 50%;
    border-radius: 15px;
    overflow: hidden;
    background-color: transparent;
  }
  
  .login-left {
    background-color: #ffe5e5;
  }
  
  .login-right {
    background-color: #fffef3;
  }
  
  .login-left h2 {
    font-weight: 600;
    color: #222;
  }
  
  
  img.rounded-end {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  