.menu-superior {
  background-color: #BF3131 !important;
}

.nav-item a, .nav-item span, .nav-item button {
  color: #f7d7d7 !important;
  /* Texto claro para contraste */
}

.nav-item a:hover{
  color: #ffffff !important;
}

.btn-salir:hover{
  background-color: #dd4c3c;
}

.navbar {
  background-color: #BF3131 !important;
}